html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
    color: #777;
    margin-bottom: 60px;
    background: #fcfcfc  url("../img/body-bg.png");
}

::-moz-selection { /* Code for Firefox */
    color: #FFFFFF;
    background: #f10000;
}

::selection {
    color: #FFFFFF;
    background: #f10000;
}

a {
    color: #333;
    font-weight: bold;
    -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
    transition: 0.4s;
}

a:hover {
    color: #f10000;
    text-decoration: none;
    -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
    transition: 0.4s;
}

.pt-10{
    padding-top: 10px;
}

.about-social{
    list-style: none;
    text-align: center;
}
.about-social a{
    color: #f10000 !important;
}

.about-me-section{
    padding-top: 10px;
}
.highlight{
    background-color: #f10000;
    color: #fff;
    padding:2px 5px 2px 5px;
    border-radius: 5px;
}


/*.navbar-brand,
.navbar-nav li a {
    padding: 25px;
}*/

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

header .navbar-default, .post-item, .widget, footer, .post-author, .post-comments, .page-not-found {
    background: #fff;
}

/* Carousel Slider */
.carousel{
    margin-top: -20px !important;
}

.post-item {
    margin-bottom: 40px;
    color: #525252;
}

.post-item p {
    font-size: 16px;
    /*line-height: 1.3;*/
}

.post-item.post-detail, .post-author, .post-comments {
    margin-bottom: 20px;
}

.post-item-image {
    max-width: 100%;
	overflow: hidden;
}

.post-item-image img {
    width: 100%;
    border: none;
}

.post-item-body, .post-author, .post-comments, .page-not-found {
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
    /*border: 1px solid #e7e7e7;*/
}

.page-not-found {
    text-align: center;
    padding: 60px 0;
}

.page-not-found p {
    font-size: 2em;
}

.page-not-found h2 {
    font-size: 5em;
    letter-spacing: -4px;
}

.post-item-body h2, .post-item-body h1 {
    /*font-weight: bold;
    letter-spacing: 1px;*/
    font-size: 35px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: -1px;
}

.padding-10 {
    padding: 20px;
}

.post-item-body .post-meta {
    border-top: 1px solid #e7e7e7;
    overflow: hidden;
    font-size: 13px;
    /*background: #fcfcfc;*/
}

.post-meta.no-border {
    border-top: none;
    padding: 15px 0 30px;
}

.post-item-body .post-meta a {
    color: #999;
}

.post-item-body .post-meta a:hover {
    color: #6b6a6a;
}

ul.post-meta-group {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul.post-meta-group li {
    /*border-right: 1px dotted #e9e9e9;*/
    float: left;
    /*list-style: outside none none;*/
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}

ul.post-meta-group li i {
    float: left;
    /*font-size: 12px;*/
    margin: 2px 5px 0 0;
}

.post-author {
    font-size: 13px;
    /*background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;*/
}

.media img {
    border-radius: 100%;
    margin-right: 10px;
}

.avatar {
    border-radius: 50%;
    max-width: 32px;
    float: left;
    margin-right: 20px;
}

.comment-author-meta h4 {
    font-weight: 700;
    font-size: 20px;
}

.post-author h4 {
    font-weight: 600;
}

.post-author-count {
    margin: 10px 0 15px;
}

.comment-heading {
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

/*.comment-heading h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}*/

.post-comments {
    padding-top: 10px;
}
.post-comments h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul.comments-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.comments-list-children {
    font-size: 0.9em;
    list-style: outside none none;
    padding: 0;
}

li.comment-item {
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 15px 0;
    padding: 10px 20px;
}

li.comment-item:first-child {
    margin-top: 0;
}

.widget, .search-widget {
    margin-bottom: 40px;
}

.widget {
    border: 1px solid #e7e7e7;
    /*border: 1px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}

.widget-heading {
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
}

.widget-heading h4 {
    margin: 0;
    color: #888;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
}

ul.categories, ul.popular-posts, ul.tags {
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
}

ul.categories li {
    border-bottom: 1px solid #e7e7e7;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul.categories li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

ul.popular-posts li {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

ul.popular-posts li:last-child {
    margin-bottom: 0;
}

ul.popular-posts li img {
    float: left;
    margin-right: 15px;
}

ul.popular-posts li span, .post-author-count a {
    color: #aaa;
}

.popular-posts .post-image {
    float: left;
    margin-right: 20px;
    position: relative;
    vertical-align: middle;
    width: 100px;
}

.popular-posts .post-body {
    overflow: hidden;
}

.popular-posts .post-body h6 {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #999;
}

.popular-posts .post-image img {
    width: 100%;
}

.post-body .post-meta {
    color: #aaa;
    font-size: 13px;
}

.comment-footer {
    background: #fff;
    border-top: 1px solid #e7e7e7;
}

ul.tags li {
    display: inline-block;
    margin: 9px 2px;
}

ul.tags li a {
    border: 1px solid #e7e7e7;
    color: #333;
    font-size: 13px;
    padding: 5px 8px;
    text-decoration:none;
}

ul.tags li a:hover {
    background-color: #fcfcfc;
    /*border-color: transparent;*/
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    padding: 15px 0;
    background-color: #222;
}

footer p {
    margin-bottom: 0;
    font-size: 13px;
}

ul.social-icons {
    float: right;
    list-style: none;
    margin: 0;
}

ul.social-icons li {
    display: inline;
    margin: 0 5px;
}

a.i.fa{
    color: #fff;
}

.form-control, .btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.form-group.required label:after {
  content:" *";
  color:red;
}

span.required {
    color: red;
}

/* Timeline CSS */

img
{
    vertical-align: middle;
}
.img-responsive
{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded
{
    border-radius: 3px;
}
.img-thumbnail
{
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle
{
    border-radius: 50%;
}

/* Timeline */
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    left: 50%;
    top: 20px;
    bottom: 20px;
    margin-left: -4px;
}

.timeline-centered .timeline-entry {
    position: relative;
    width: 50%;
    float: right;
    margin-bottom: 30px;
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -150px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -150px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #f10000;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #222222;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1.7em;
    margin-left: 70px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}

/* Skills */
.progress {
    position: relative;
    height: 25px;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}